
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: #fff;
  
  display: flex;
  flex-direction: column;
}


header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

header h1 {
  font-size: 20px;
  color: #000;
}


.container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  
  
  
  border-radius: 12px;
  width: 350px;
}


.signup-form h2 {
  text-align: center;
  
  color: #000;
}




.input-group label {
  
  
  font-size: 14px;
  color: #000;
}

.input-group input {
  width: 500px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #666;
  outline: none;
}


.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.checkbox-group label {
  font-size: 14px;
  color: #000;
}


button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: purple; 
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a0ea1;
}
.password-strength {
  margin-top: 5px;
}

.strength-bar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  height: 5px;
  background-color: #eee;
  border-radius: 2.5px;
}

.bar {
  background-color: #ccc;
  border-radius: 2.5px;
}

.password-strength p {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}


.signin-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
}

.signin-link a {
  color: purple;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
